In [7]:
import numpy as np
import pandas as pd

#Data 1
x = [1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1]
time1 = [0, 1, 3, 4, 7, 10, 15, 16, 21, 27, 29, 33, 34, 35, 38, 40, 43, 43, 56, 59]

#Data 2
y = [1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1]
time2 = [0, 1, 3, 5, 7, 9, 16, 17, 18, 20, 22, 23, 25, 27, 29, 32, 33, 36, 37, 44]

data1 = dict(zip(time1,x))
data2 = dict(zip(time2,y))

df = pd.DataFrame([data1,data2],index=['Data1','Data2'])

df.iloc[:,:20]

,0,1,3,4,5,7,9,10,15,16,17,18,20,21,22,23,25,27,29,32
Data1,1,1,1,0.0,NaN,1,NaN,1.0,1.0,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1,1,NaN
Data2,1,1,1,NaN,0.0,1,1.0,NaN,NaN,1,1.0,1.0,0.0,NaN,0.0,1.0,0.0,0,1,1.0

In [8]:
sorted(np.unique(time1[:10]+time2[:10]))

[0, 1, 3, 4, 5, 7, 9, 10, 15, 16, 17, 18, 20, 21, 27]

In [13]:
result = [x[i] == y[i] for i in range(len(x))]
result

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True]

In [10]:
sum(x[i] == y[i] for i in range(len(x)))

13

In [11]:
(sum(x==y for (x,y) in zip(x,y))/len(x))*100

65.0

In [41]:
answer = list((set(data1.items()) & set(data2.items())))
answer.sort()
len(answer)

7